<h1>AJAX</h1>
<div id="rest-ops">
    <button id="list-users" type="button">List users</button>
    <br>
    <label>username</label>
        <input id="user-username">
    <label>password</label>
        <input id="user-password">
    <button id="create-user" type="button">Create user</button>
    <br>
    <label>user_id</label>
        <input id="user-id" type="number">
    <label>username</label>
        <input id="user-username1">
    <label>password</label>
        <input id="user-password1">
    <button id="update-user" type="button">Update user</button>
    <br>
    <label>user_id</label>
        <input id="delete-user-id" type="number">
    <button id="delete-user" type="button">Delete user</button>
    <br>
    <label>user_id</label>
        <input id="user-id-two" type="number">
    <button id="list-facts-button" type="button">List facts</button>
    <br>
    <label>user_id</label>
        <input id="user-id-three" type="number">
    <label>fact</label>
        <input id="user-fact">
    <label>likes</label>
        <input id="fact-likes" type="number">
    <button id="create-facts-button" type="button">Create Fact</button>
    <br>
    <label>user_id</label>
        <input id="user-id-update-fact" type="number">
    <label>fact_id</label>
        <input id="fact-id" type="number">
    <label>fact</label>
        <input id="user-fact-update">
    <label>likes</label>
        <input id="fact-likes-update" type="number">
    <button id="update-facts-button" type="button">Update Fact</button>
    <br>
</div>
<div id="results-div"></div>
<script>
document.addEventListener('DOMContentLoaded', handle_ajax(event));
</script>
